/* BASE STYLE */
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

:root {
  --background: #f9f9f9;
  --black: #151e16;
  --green: #0e553f;
  --yellow: #ffc627;
}

html {
  background-color: var(--background);
  box-sizing: border-box;
  font-family: 'Open Sans', Roboto, Helvetica, sans-serif;
  color: var(--black);
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0 0 5px 0;
}

/* BODY */

h3 {
  font-size: 16px;
  font-weight: bold;
}

p {
  font-size: small;
}

.event {
  background-color: #fff;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.23);
  display: flex;
  flex-direction: column;
  z-index: 999;
}

.event-date {
  font-weight: 900;
  text-transform: uppercase;
}

.event-description {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
  padding-bottom: 15px;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 15px;
}

.event-image {
  max-height: 40%;
  max-width: 100%;
  object-fit: cover;
}

.event-name {
  color: var(--green);
  text-transform: uppercase;
}

.events {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 10fr 1fr;
  justify-items: center;
  justify-content: center;
}

.events-button {
  align-self: center;
  background-color: var(--yellow);
  border: none;
  border-radius: 2px;
  color: var(--black);
  cursor: pointer;
  font-size: 18px;
  height: 2.5em;
  transition: 0.1s ease-in;
  width: 7em;
}

.events-button:hover {
  background-color: var(--green);
  color: #fff;
  transform: scale(1.2, 1.2);
}

.events-list {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-gap: 20px;
}

.events-title {
  align-self: center;
  border-top: 3px solid var(--yellow);
  color: var(--green);
  font-size: 36px;
}

@media screen and (min-width: 800px) {  
  .event:first-child {
    grid-column: 1 / -1;
    flex-direction: row;
  }
  
  .event:first-child .event-image {
    max-height: 100%;
    max-width: 50%;
  }

  .events-list {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
}

@media screen and (min-width: 1000px) {
  .event {
    max-width: 350px;
  }

  .event:first-child {
    grid-column: unset;
    flex-direction: column;
  }

  .event:first-child .event-image {
    max-width: 100%;
  }

  .events {
    grid-gap: 40px;
  }

  .events-list {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
  }
}

@media screen and (min-width: 1530px) {
  .event {
    max-width: 350px;
  }
  
  .event:first-child {
    flex-direction: row;
    max-width: 700px;
  }
  
  .event:first-child .event-image {
    max-height: 100%;
    max-width: 50%;
  }

  .events-list {
    grid-template-columns: fit-content(700px) 1fr 1fr;
  }
}

@media screen and (max-width: 800px) and (min-height: 800px) {
  .event {
    max-height: 60vh;
  }
}